.footer-area {
  border-radius: 4.3vw 4.3vw 0px 0px;
  background-image: linear-gradient(95deg, #121212 7.27%, #1f1f1f 99.21%);

  .footer-widget {
    .thumb {
      margin-bottom: 25px;
    }
    .widget-title {
      margin-bottom: 20px;
      font-size: 30px;
      @media #{$lg-mobile} {
        font-size: 24px;
      }
    }

    &--list {
      color: var(--paragraph-color);
    }

    &--item {
      line-height: 1;
      &.inline-style {
        &:not(:last-child) {
          margin-right: 25px;
          position: relative;
          &::after {
            content: "/";
            position: absolute;
            top: 50%;
            right: -18px;
            transform: translateY(-40%);
            line-height: 1;
            width: max-content;
            height: auto;
          }
        }
      }
      &:not(:last-child) {
        margin-bottom: 18px;
      }
    }

    &--link {
      &:hover {
        color: #e2e2e2;
      }
    }

    &.widget-more {
      .widget-title {
        line-height: 1.16;
      }
    }

    @media #{$lg-mobile} {
      .hl-btn.small-btn {
        padding: 10px 20px;
        border-radius: 10px;
      }
    }
  }

  .footer-bottom {
    padding: 25px 0;
    margin-top: 50px;
    border-top: 1px solid #1e1d1d;
  }

  &--two {
    background-image: url('/assets/images/background/footer-bg.webp');
    background-size: 100% 100%;
    // mix-blend-mode: hard-light;
    border-radius: unset;
    .footer-bottom {
      ul {
        li {
          &:not(:last-child) {
            margin-right: 25px;
            position: relative;
            &::after {
              content: "/";
              position: absolute;
              top: 50%;
              right: -18px;
              transform: translateY(-40%);
              line-height: 1;
              width: max-content;
              height: auto;
            }
          }
        }
        &:not(:last-child) {
          margin-bottom: 18px;
        }
      }
    }
  }
}

.social-media {
  &--item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
  &--link {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1d1d1d;
    color: #e2e2e2;

    &:hover {
      background: #009DDA;
    }

    @media #{$lg-mobile} {
      width: 40px;
      height: 40px;
    }
  }
}
